:root {
  --page-bg-color: #fafafa;
  --game-bg-color: #fff;
  --card-back-bg: #4b6a9b;
  --card-front-bg: #e9f8ff;
  --text-color: #262626;
  --reset-btn-active-color: #262809;
  --reset-btn-active-bg: #ec38bc;
  --match-bg-color: #74dd74;
  --game-shadow: 0 0 16px rgba(0, 0, 0, .35);
}

body {
  align-items: center;
  background-color: var(--page-bg-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  user-select: none;
}

.container {
  align-items: center;
  background-color: var(--game-bg-color);
  box-shadow: var(--game-shadow);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 40px 60px;
  position: relative;
}

.title {
  color: var(--text-color);
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  background-color: var(--game-bg-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  text-transform: uppercase;
  width: 100%;
}

.reset:hover {
  background-color: var(--text-color);
  color: var(--game-bg-color);
}

.reset:active {
  background-color: var(--reset-btn-active-color);
  color: var(--reset-btn-active-bg);
}

.game {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 430px;
  perspective: 500px;
  transform-style: preserve-3d;
  width: 430px;
}

.item {
  align-items: center;
  background-color: var(--card-front-bg);
  border: none;
  display: flex;
  font-size: 3em;
  height: 100px;
  justify-content: center;
  position: relative;
  transform: rotateY(0deg);
  transition: .25s;
  width: 100px;
}

.item:not(.boxOpen) {
  cursor: pointer;
}

.item::after {
  background-color: var(--card-back-bg);
  backface-visibility: hidden;
  content: "";
  inset: 0;
  position: absolute;
  transform: rotateY(0deg);
  transition: .25s;
}

.item.boxOpen {
  transform: rotateY(180deg);
}

.boxMatch {
  background-color: var(--match-bg-color);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}