:root {
  --page-bg-color: #fafafa;
  --game-bg-color: #fff;
  --card-back-bg: #4b6a9b;
  --card-front-bg: #e9f8ff;
  --text-color: #262626;
  --reset-btn-active-color: #262809;
  --reset-btn-active-bg: #ec38bc;
  --match-bg-color: #74dd74;
  --dialog-bg-color: #119add;
  --game-shadow: 0 0 1rem rgba(0, 0, 0, .35);
}

@keyframes move-board {
  0% {
    transform: scale(.95);
    opacity: .1;
  }

  60% {
    transform: scale(1.05);
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

body {
  align-items: center;
  background-color: var(--page-bg-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  user-select: none;
  font-family: monospace;
}

.container {
  animation: move-board .75s;
  align-items: center;
  background-color: var(--game-bg-color);
  box-shadow: var(--game-shadow);
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: center;
  margin: 1rem;
  padding: 2.5rem 3.75rem;
}

.title {
  color: var(--text-color);
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.reset {
  background-color: var(--game-bg-color);
  border: 0.0625rem solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 0.1rem;
  padding: 0.9375rem 1.25rem;
  text-transform: uppercase;
  width: 100%;
}

.reset:hover {
  background-color: var(--text-color);
  color: var(--game-bg-color);
}

.reset:active {
  background-color: var(--reset-btn-active-color);
  color: var(--reset-btn-active-bg);
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
  perspective: 31.25rem;
  transform-style: preserve-3d;
}

.item {
  --relative-size: clamp(4.6875rem, 16vw, 6.25rem);
  align-items: center;
  background-color: var(--card-front-bg);
  border: none;
  display: flex;
  font-size: 3rem;
  height: var(--relative-size);
  justify-content: center;
  position: relative;
  transform: rotateY(0deg);
  transition: .25s;
  width: var(--relative-size);
}

.item:not(.boxOpen) {
  cursor: pointer;
}

.item::after {
  background-color: var(--card-back-bg);
  backface-visibility: hidden;
  content: "❔";
  inset: 0;
  line-height: var(--relative-size);
  position: absolute;
  transform: rotateY(0deg);
  transition: .25s;
}

.item.boxOpen {
  transform: rotateY(180deg);
}

.boxMatch {
  background-color: var(--match-bg-color);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
}

.show {
  display: flex;
}

.dialog {
  background-color: var(--dialog-bg-color);
  border-radius: 1rem;
  color: var(--game-bg-color);
  margin: 1rem;
  padding: 2rem;
}

.icon {
  font-size: 5rem;
}

.congrats {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.restart {
  border: none;
  background-color: var(--game-bg-color);
  border-radius: 2rem;
  color: var(--text-color);
  cursor: pointer;
  font-size: 2rem;
  font-family: monospace;
  font-weight: 600;
  padding: 1rem;
  width: 100%;
}

@media screen and (max-width: 36rem) {
  body {
    background-color: var(--game-bg-color);
  }

  .container {
    box-shadow: none;
    padding: 0;
  }
}